<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/demo.css}">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/form-builder.min.css}">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/form-render.min.css}">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>jQuery formBuilder/formRender Demo</title>
</head>

<body>
  <div class="content">
    <h1>jQuery formBuilder</h1>
    <div class="build-wrap"></div>
    <div class="render-wrap"></div>
    <button id="edit-form">Edit Form</button>
  </div>
  <script type="text/javascript" th:href="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:href="@{/js/form-builder.min.js}"></script>
  <script type="text/javascript" th:href="@{/js/form-render.min.js}"></script>
  <script type="text/javascript" th:href="@{/js/demo.js}"></script>
</body>
</html>
