.blog-content ol {
	margin: 0.4em 1.2em;
}
.blog-content ul {
	margin: 0.4em 1.2em;
}
.blog h2 {
	color: rgb(85, 85, 85);
}
.blog-title {
	font-size: 1.8em; margin-bottom: 20px;
}
.blog h2 a {
	line-height: 32px;
}
.blog h2 a:hover {
	text-decoration: none;
}
.blog h3 {
	color: rgb(85, 85, 85); line-height: 1.3; font-size: 1.5em; font-weight: 900;
}
.blog h4 {
	color: rgb(85, 85, 85); line-height: 1.1; font-size: 1.3em; font-weight: 900;
}
h3 {
	padding: 1.5em 0px 0.5em;
}
h4 {
	padding: 1.5em 0px 0.5em;
}
.blog-post-tags {
	padding: 5px 0px 8px; margin-bottom: 30px; border-top-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.blog .blog-post-tags ul {
	margin-bottom: 0px;
}
.blog .blog-post-tags li {
	font-size: 0.9em; margin-bottom: 0px;
}
.blog-post-tags li i {
	color: rgb(119, 119, 119);
}
.blog-post-tags ul.blog-info {
	color: rgb(238, 238, 238); margin-bottom: 3px;
}
.blog-post-tags ul.blog-tags a {
	background: rgb(244, 244, 244); padding: 3px 7px; color: rgb(85, 85, 85); font-size: 0.9em; margin-right: 2px; display: inline;
}
.blog-post-tags ul.blog-tags a:hover {
	background: rgb(66, 139, 202);
}
.blog-item .media img {
	top: 3px; width: 54px; height: 54px; position: relative;
}
.post-comment h3 {
	color: rgb(114, 192, 44); font-size: 21px; margin-bottom: 25px;
}
.blog-item .media h3 {
	color: rgb(114, 192, 44); font-size: 21px; margin-bottom: 25px;
}
.blog-item .media h4.media-heading {
	color: rgb(85, 85, 85); font-size: 17px; position: relative;
}
.blog-item .media h4.media-heading span {
	top: 3px; right: 0px; color: rgb(119, 119, 119); font-size: 12px; position: absolute;
}
.blog-item .media h4.media-heading span a {
	color: rgb(114, 192, 44);
}
.blog-medium .blog-info li {
	color: rgb(119, 119, 119);
}
@media all and (max-width:992px)
{
.blog-medium img {
	margin-bottom: 20px;
}
}
.blog-full-width ul.blog-info {
	margin-bottom: 0px;
}
.blog blockquote {
	margin-top: 2em; margin-bottom: 2em;
}
.blog blockquote p {
	font-size: 1.2em;
}
.blog iframe {
	border: 0px currentColor; border-image: none; width: 100%;
}
.blog img {
	max-width: 100%;
}
.blog-img {
	margin-bottom: 2em; position: relative;
}
.blog :not(.blog-img) > img {
	margin-bottom: 1.2em; position: relative;
}
.blog .syntaxhighlighter {
	margin-bottom: 35px;
}
.sidebar {
	font-size: 0.8em;
}
