@font-face {
	font-family: Monda;
	src: local("Monda Regular"), local("Monda-Regular"), url(https://fonts.gstatic.com/s/monda/v4/sk05J8GA1NvUxDnk43EgAQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Monda;
	src: local("Monda Bold"), local("Monda-Bold"), url(https://fonts.gstatic.com/s/monda/v4/uCFS-jQepl-zVlhjycME2fesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
