.content {
	margin: 0px -20px; padding: 20px; border-radius: 6px; box-shadow: 0px 3px 13px rgba(0,0,0,0.4); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4); -webkit-border-radius: 6px; -moz-border-radius: 6px; -moz-box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4);
}
.page-header {
	margin: -20px -20px 20px; padding: 20px 20px 10px; border-radius: 6px 6px 0px 0px; background-color: rgb(59, 154, 12); -webkit-border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px;
}
.page-header h1 {
	color: rgb(255, 255, 255); text-shadow: 0px 0px 3px #333;
}
.content .span10 {
	min-height: 500px;
}
.content .span5 {
	min-height: 500px;
}
.content .span5 {
	padding-left: 19px; margin-left: 0px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.topbar .btn {
	border: 0px currentColor; border-image: none;
}
.xsmall.btn {
	padding: 3px 6px; font-size: 10px;
}
.form-stacked {
	padding-left: 0px;
}
.field-wrapper {
	margin: 0px 0px 10px; padding: 10px 10px 15px; border-radius: 6px; border: 1px solid transparent; border-image: none; text-decoration: none; display: block; cursor: pointer; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.field-wrapper * {
	cursor: pointer;
}
.field-wrapper:hover {
	border: 1px dashed rgb(77, 164, 235); border-image: none;
}
.selected.field-wrapper {
	border: 1px solid rgb(77, 164, 235); border-image: none; background-color: rgb(188, 226, 255);
}
span.required {
	color: red;
}
.add-field-pane .btn {
	margin: 0px 5px 5px 0px; width: 45%;
}
.form_builder_general {
	font-size: 0.8em;
}
.add-field-pane .btn-default {
	
}
.form-builder-preview .form-control {
	width: auto;
}
