.btn-primary {
	border-color: rgb(52, 152, 219); color: rgb(255, 255, 255); background-color: rgb(52, 152, 219);
}
.btn-primary:hover {
	border-color: rgb(41, 128, 185); background-color: rgb(41, 128, 185);
}
.btn-primary:focus {
	border-color: rgb(41, 128, 185); background-color: rgb(41, 128, 185);
}
.focus.btn-primary {
	border-color: rgb(41, 128, 185); background-color: rgb(41, 128, 185);
}
.btn-primary:active {
	border-color: rgb(41, 128, 185); background-color: rgb(41, 128, 185);
}
.active.btn-primary {
	border-color: rgb(41, 128, 185); background-color: rgb(41, 128, 185);
}
.iconpicker-items {
	min-height: 289px !important;
}
.howitworks ol li {
	color: white !important; line-height: 1.7; font-size: 18px;
}
.howitworks {
	background: rgba(50, 47, 32, 0.4); padding: 10px 10px 10px 30px; margin-top: 30px;
}
.howitworks h3 {
	color: white !important;
}
.borderless td {
	border: currentColor !important; border-image: none !important;
}
.borderless th {
	border: currentColor !important; border-image: none !important;
}
.underline {
	text-decoration: underline;
}
.read {
	color: rgb(201, 201, 201);
}
.categorize {
	cursor: pointer;
}
pre {
	color: rgb(2, 127, 196); padding-left: 10px; white-space: pre-wrap;
}
.caption-over {
	left: 0px; right: 0px; bottom: 0px; position: absolute;
}
.text-red {
	color: rgb(231, 76, 60);
}
.text-green {
	color: rgb(114, 192, 44);
}
.keyword {
	margin: 5px; color: white;
}
.keyword:hover {
	color: rgb(204, 210, 215);
}
.noborder {
	border: currentColor !important; border-image: none !important;
}
.instructions {
	font-style: italic; margin-left: 20px; float: left;
}
a.model_link:focus {
	color: rgb(85, 85, 85); background-color: rgb(255, 255, 255) !important;
}
.modal-backdrop {
	opacity: 0.6;
}
.in.fade.modal-backdrop {
	opacity: 0.6;
}
.message-actions {
	margin-top: 10px; margin-bottom: 10px;
}
a {
	color: rgb(66, 139, 202);
}
li a {
	color: rgb(85, 85, 85);
}
.analytics-table td {
	border-right-color: currentColor !important; border-left-color: currentColor !important; border-right-width: 0px !important; border-left-width: 0px !important; border-right-style: none !important; border-left-style: none !important;
}
a:focus {
	color: rgb(52, 152, 219);
}
a:hover {
	color: rgb(52, 152, 219);
}
a:active {
	color: rgb(52, 152, 219);
}
.color-green {
	color: rgb(52, 152, 219);
}
a.read-more:hover {
	color: rgb(52, 152, 219);
}
.linked:hover {
	color: rgb(52, 152, 219);
}
.da-slide h2 i {
	background: url("../../plugins/parallax-slider/img/bg-heading-blue.png");
}
.sequence-inner {
	background: linear-gradient(rgb(255, 255, 255), rgb(222, 239, 252));
}
#sequence-theme h2 {
	background: rgba(52, 152, 219, 0.8);
}
#sequence-theme .info p {
	background: rgba(52, 152, 219, 0.8);
}
.purchase a.btn-buy {
	background: rgb(52, 152, 219); text-shadow: 0px 1px 0px #2980b9;
}
.purchase a.btn-buy:hover {
	background: rgb(41, 128, 185);
}
.btn-u {
	background: rgb(52, 152, 219);
}
.btn-u:hover {
	background: rgb(41, 128, 185);
}
.service .service-icon {
	color: rgb(52, 152, 219);
}
.service-alternative .service:hover {
	background: rgb(52, 152, 219);
}
.thumbnail-style h3 a:hover {
	color: rgb(52, 152, 219);
}
.thumbnail-style a.btn-more {
	background: rgb(52, 152, 219);
}
.thumbnail-style a.btn-more:hover {
	box-shadow: 0px 0px 0px 2px #2980b9;
}
.recent-work a:hover span {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.bx-wrapper .bx-prev {
	background-image: url("../../plugins/bxslider/images/controls-blue.png");
}
.bx-wrapper .bx-next {
	background-image: url("../../plugins/bxslider/images/controls-blue.png");
}
.headline h2 {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.headline h3 {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.headline h4 {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
blockquote:hover {
	border-left-color: rgb(52, 152, 219);
}
.hero {
	border-left-color: rgb(52, 152, 219);
}
.carousel-arrow a.carousel-control:hover {
	color: rgb(52, 152, 219);
}
.footer a {
	color: rgb(52, 152, 219);
}
.copyright a {
	color: rgb(52, 152, 219);
}
.footer a:hover {
	color: rgb(52, 152, 219);
}
.copyright a:hover {
	color: rgb(52, 152, 219);
}
.footer .dl-horizontal a:hover {
	color: rgb(52, 152, 219) !important;
}
.posts .dl-horizontal a:hover {
	color: rgb(52, 152, 219);
}
.posts .dl-horizontal:hover dt img {
	border-color: rgb(52, 152, 219) !important; color: rgb(52, 152, 219);
}
.posts .dl-horizontal:hover dd a {
	border-color: rgb(52, 152, 219) !important; color: rgb(52, 152, 219);
}
.post-comment h3 {
	color: rgb(52, 152, 219);
}
.blog-item .media h3 {
	color: rgb(52, 152, 219);
}
.blog-item .media h4.media-heading span a {
	color: rgb(52, 152, 219);
}
.tab-v1 .nav-tabs {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.tab-v1 .nav-tabs > .active > a {
	background: rgb(52, 152, 219);
}
.tab-v1 .nav-tabs > .active > a:hover {
	background: rgb(52, 152, 219);
}
.tab-v1 .nav-tabs > .active > a:focus {
	background: rgb(52, 152, 219);
}
.tab-v1 .nav-tabs > li > a:hover {
	background: rgb(52, 152, 219);
}
.tab-v2 .nav-tabs li.active a {
	border-top-color: rgb(52, 152, 219); border-top-width: 2px; border-top-style: solid;
}
.tab-v3 .nav-pills li a:hover {
	background: rgb(52, 152, 219); border: 1px solid rgb(41, 128, 185); border-image: none;
}
.tab-v3 .nav-pills li.active a {
	background: rgb(52, 152, 219); border: 1px solid rgb(41, 128, 185); border-image: none;
}
.acc-home a.active {
	color: rgb(52, 152, 219);
}
.acc-home a.accordion-toggle:hover {
	color: rgb(52, 152, 219);
}
.acc-home .in.collapse {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
.testimonials .testimonial-info {
	color: rgb(52, 152, 219);
}
.testimonials .carousel-arrow i:hover {
	background: rgb(52, 152, 219);
}
.info-blocks:hover i.icon-info-blocks {
	color: rgb(52, 152, 219);
}
.breadcrumb li.active {
	color: rgb(52, 152, 219);
}
.breadcrumb li a:hover {
	color: rgb(52, 152, 219);
}
.team .thumbnail-style:hover h3 a {
	color: rgb(52, 152, 219) !important;
}
.team ul.team-socail li i:hover {
	background: rgb(52, 152, 219);
}
.pricing:hover h4 {
	color: rgb(52, 152, 219);
}
.pricing-head h3 {
	background: rgb(52, 152, 219); border-bottom-color: rgb(41, 128, 185); border-bottom-width: 1px; border-bottom-style: solid; text-shadow: 0px 1px 0px #2980b9;
}
.pricing-head h4 {
	background: rgb(252, 252, 252); color: rgb(153, 153, 153); border-bottom-color: rgb(218, 240, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing-content li {
	border-bottom-color: rgb(218, 240, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing-content li i {
	color: rgb(52, 152, 219);
}
.pricing-footer a {
	background: rgb(52, 152, 219); border-bottom-color: rgb(41, 128, 185); border-bottom-width: 2px; border-bottom-style: solid; text-shadow: 0px 1px 0px #2980b9;
}
.pricing-footer button {
	background: rgb(52, 152, 219); border-bottom-color: rgb(41, 128, 185); border-bottom-width: 2px; border-bottom-style: solid; text-shadow: 0px 1px 0px #2980b9;
}
.pricing-footer a:hover {
	background: rgb(41, 128, 185);
}
.pricing-footer button:hover {
	background: rgb(41, 128, 185);
}
.price-active h4 {
	color: rgb(52, 152, 219);
}
.no-space-pricing .price-active .pricing-head h4 {
	color: rgb(52, 152, 219);
}
.no-space-pricing .pricing:hover .pricing-head h4 {
	color: rgb(52, 152, 219);
}
.who li i {
	color: rgb(52, 152, 219);
}
.who li:hover i {
	color: rgb(52, 152, 219);
}
.who li:hover a {
	color: rgb(52, 152, 219);
}
.privacy a:hover {
	color: rgb(52, 152, 219);
}
.view a.info:hover {
	background: rgb(52, 152, 219);
}
.sorting-block .sorting-nav li.active {
	color: rgb(52, 152, 219); border-bottom-color: rgb(52, 152, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: rgb(52, 152, 219);
}
.blog h3 {
	color: rgb(52, 152, 219);
}
.blog li a:hover {
	color: rgb(52, 152, 219);
}
ul.blog-tags a:hover {
	background: rgb(52, 152, 219);
}
.blog-post-tags ul.blog-tags a:hover {
	background: 0px 0px rgb(52, 152, 219);
}
.blog-photos li img:hover {
	box-shadow: 0px 0px 0px 2px #3498db;
}
.blog-twitter .blog-twitter-inner:hover {
	border-color: rgb(52, 152, 219);
}
.blog-twitter .blog-twitter-inner:hover::after {
	border-top-color: rgb(52, 152, 219);
}
.blog-twitter .blog-twitter-inner a {
	color: rgb(52, 152, 219);
}
.blog-item h4.media-heading span a {
	color: rgb(52, 152, 219);
}
.coming-soon-border {
	border-top-color: rgb(52, 152, 219); border-top-width: 3px; border-top-style: solid;
}
.booking-blocks p a {
	color: rgb(52, 152, 219);
}
.icon-page li:hover {
	color: rgb(52, 152, 219);
}
.glyphicons-demo a:hover {
	color: rgb(52, 152, 219); text-decoration: none;
}
.magazine-news .by-author strong {
	color: rgb(52, 152, 219);
}
.magazine-news a.read-more {
	color: rgb(52, 152, 219);
}
.magazine-mini-news .post-author strong {
	color: rgb(52, 152, 219);
}
.news-read-more i {
	background: rgb(52, 152, 219);
}
.magazine-page h3 a:hover {
	color: rgb(52, 152, 219);
}
.tag-box-v1 {
	border-top-color: rgb(52, 152, 219); border-top-width: 2px; border-top-style: solid;
}
.tag-box-v2 {
	border-left-color: rgb(52, 152, 219); border-left-width: 2px; border-left-style: solid;
}
.tag-box-v7 {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.fa-icons li:hover {
	color: rgb(52, 152, 219);
}
.fa-icons li:hover i {
	background: rgb(52, 152, 219);
}
.bs-glyphicons li:hover {
	color: rgb(52, 152, 219);
}
.pagination > .active > a {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination > .active > span {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination > .active > a:hover {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination > .active > span:hover {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination > .active > a:focus {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination > .active > span:focus {
	border-color: rgb(52, 152, 219); background-color: rgb(52, 152, 219);
}
.pagination li a:hover {
	background: rgb(41, 128, 185); border-color: rgb(41, 128, 185);
}
.pager li > a:hover {
	background: rgb(41, 128, 185); border-color: rgb(41, 128, 185);
}
.pager li > a:focus {
	background: rgb(41, 128, 185); border-color: rgb(41, 128, 185);
}
.reg-block {
	border-top-color: rgb(52, 152, 219); border-top-width: 2px; border-top-style: solid;
}
