.header .navbar-default .navbar-nav > .active > a {
	color: rgb(52, 152, 219);
}
.header .navbar-default .navbar-nav > li > a {
	font-size: 14px !important;
}
.navbar-toggle {
	background: rgb(52, 152, 219);
}
.navbar-default .navbar-toggle:hover {
	background: rgb(52, 152, 219);
}
.navbar-default .navbar-toggle:focus {
	background: rgb(52, 152, 219);
}
.navbar-toggle:hover {
	background: rgb(41, 128, 185) !important;
}
.navbar-default .navbar-toggle {
	border-color: rgb(41, 128, 185);
}
.header .navbar .nav > li > a.search:hover {
	color: rgb(52, 152, 219); border-bottom-color: rgb(52, 152, 219);
}
@media all and (min-width:767px)
{
.header .navbar-default .navbar-nav > li > a:hover {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > .active > a {
	border-bottom-color: rgb(52, 152, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > .open > a {
	color: rgb(52, 152, 219);
}
.header .navbar-default .navbar-nav > .open > a:hover {
	color: rgb(52, 152, 219);
}
.header .navbar-default .navbar-nav > .open > a:focus {
	color: rgb(52, 152, 219);
}
.header .dropdown-menu {
	border-top-color: rgb(52, 152, 219); border-top-width: 2px; border-top-style: solid;
}
}
