.top {
	padding-top: 8px;
}
.top ul.loginbar {
	margin: 0px; padding: 0px; position: relative; z-index: 9999;
}
.top ul.loginbar > li {
	list-style: none; padding-bottom: 15px; display: inline;
}
.top ul.loginbar > li > a {
	color: rgb(124, 128, 130); text-transform: uppercase; font-family: "Open Sans", sans-serif; font-size: 11px;
}
.top ul.loginbar > li > a:hover {
	color: rgb(124, 128, 130); text-transform: uppercase; font-family: "Open Sans", sans-serif; font-size: 11px;
}
.top ul.loginbar li.devider {
	margin: 0px 9px 0px 5px; padding: 0px; top: -1px; font-family: Tahoma; font-size: 8px; border-right-color: rgb(187, 187, 187); border-right-width: 1px; border-right-style: solid; position: relative;
}
.top ul.loginbar li i.icon-globe {
	color: rgb(187, 187, 187);
}
.top ul.lenguages {
	background: rgb(240, 240, 240); list-style: none; padding: 4px 0px; left: -5px; top: 25px; display: none; position: absolute; min-width: 100px;
}
.top li:hover ul.lenguages {
	display: block;
}
.top ul.lenguages::after {
	left: 8px; top: -4px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(240, 240, 240); border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: inset; border-bottom-style: solid; border-left-style: inset; display: block; position: absolute; content: " ";
}
.top ul.lenguages li a {
	padding: 2px 12px; color: rgb(85, 85, 85); text-transform: uppercase; font-family: "Open Sans", sans-serif; font-size: 10px; margin-bottom: 1px; display: block;
}
.top ul.lenguages li.active a i {
	color: rgb(153, 153, 153); margin-top: 2px; float: right;
}
.top ul.lenguages li a:hover {
	background: rgb(250, 250, 250);
}
.top ul.lenguages li.active a {
	background: rgb(250, 250, 250);
}
.top ul.lenguages li a:hover {
	text-decoration: none;
}
.header {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 2px; border-bottom-style: solid; position: relative; z-index: 999;
}
.header .navbar {
	margin: 0px; min-height: inherit;
}
.header .navbar-default {
	background: none; border: currentColor; border-image: none;
}
.header .navbar-collapse {
	position: relative;
}
.header .navbar-brand {
	padding: 0px 10px 10px; position: relative; z-index: 2;
}
.header .navbar-default .navbar-nav > li > a {
	padding: 9px 20px; color: rgb(104, 112, 116); text-transform: uppercase; font-size: 15px; font-weight: 400;
}
.header .navbar-default .navbar-nav > .active > a {
	color: rgb(114, 192, 44);
}
.header .navbar-right .dropdown-menu {
	right: inherit;
}
.header .navbar .nav > li > a i.icon-angle-down {
	margin: 0px !important; left: 1px; top: -1px; font-size: 12px; position: relative;
}
.navbar-toggle {
	background: rgb(114, 192, 44);
}
.navbar-default .navbar-toggle:hover {
	background: rgb(114, 192, 44);
}
.navbar-default .navbar-toggle:focus {
	background: rgb(114, 192, 44);
}
.navbar-toggle:hover {
	background: rgb(95, 182, 17) !important;
}
.navbar-default .navbar-toggle {
	border-color: rgb(95, 182, 17);
}
.navbar-default .navbar-toggle .icon-bar {
	background: rgb(255, 255, 255);
}
.header .navbar .search-open {
	background: rgb(252, 252, 252); padding: 14px; top: 50px; right: 0px; border-top-color: rgb(238, 238, 238); border-top-width: 2px; border-top-style: solid; display: none; position: absolute; box-shadow: 0px 1px 3px #ddd;
}
.header .navbar .nav > li > a.search {
	background: rgb(247, 247, 247) !important; padding: 8px 8px 10px; color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); cursor: pointer;
}
.header .navbar .nav > li > a.search:hover {
	color: rgb(114, 192, 44); border-bottom-color: rgb(114, 192, 44);
}
.header .navbar .search-open form {
	margin: 0px;
}
.header .navbar a.search [class^='icon-'] {
	width: 1.25em; text-align: center; display: inline-block;
}
.header .navbar a.search [class*=' icon-'] {
	width: 1.25em; text-align: center; display: inline-block;
}
.header .navbar a.search [class^='icon-'].icon-large {
	width: 1.56em;
}
.header .navbar a.search [class*=' icon-'].icon-large {
	width: 1.56em;
}
@media all and (min-width:767px)
{
.header .navbar-collapse {
	padding: 0px;
}
.header .navbar-nav {
	top: 2px; margin-top: 10px; position: relative;
}
.header .navbar-default .navbar-nav > li > a {
	border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > li > a:focus {
	border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > li > a:hover {
	border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > .active > a {
	border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid;
}
.header .navbar-default .navbar-nav > li > a {
	background: none;
}
.header .navbar-default .navbar-nav > li > a:hover {
	background: none;
}
.header .navbar-default .navbar-nav > li > a:focus {
	background: none;
}
.header .navbar-default .navbar-nav > .active > a {
	background: none;
}
.header .navbar-default .navbar-nav > .active > a:hover {
	background: none;
}
.header .navbar-default .navbar-nav > .active > a:focus {
	background: none;
}
.header .navbar-default .navbar-nav > .open > a {
	color: rgb(114, 192, 44);
}
.header .navbar-default .navbar-nav > .open > a:hover {
	color: rgb(114, 192, 44);
}
.header .navbar-default .navbar-nav > .open > a:focus {
	color: rgb(114, 192, 44);
}
.header .dropdown-menu {
	border-width: 2px medium; border-style: solid none; border-color: rgb(114, 192, 44) currentColor rgb(104, 112, 116); padding: 0px; border-radius: 0px; border-image: none; margin-top: -2px !important; z-index: 9999 !important; min-width: 200px;
}
.header .dropdown-menu li a {
	padding: 6px 15px; color: rgb(104, 112, 116); font-size: 13px; font-weight: 400; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.header .dropdown-menu .active > a {
	background: rgb(104, 112, 116) !important; transition:0.1s ease-in-out; color: rgb(255, 255, 255); filter: none !important; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out;
}
.header .dropdown-menu li > a:hover {
	background: rgb(104, 112, 116) !important; transition:0.1s ease-in-out; color: rgb(255, 255, 255); filter: none !important; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out;
}
.header .dropdown-menu li > a:focus {
	background: none; filter: none !important;
}
.header .navbar .search-open {
	width: 330px;
}
}
@media all and (max-width:767px)
{
.header .navbar .search-open {
	background: none; padding: 15px; left: 20px; top: inherit; bottom: -5px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; box-shadow: none;
}
}
