code[class*='language-'] {
	text-align: left; color: black; line-height: 1.5; font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; word-spacing: normal; white-space: pre; direction: ltr; -ms-word-break: normal; -ms-word-wrap: normal; -ms-hyphens: none; hyphens: none; tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none;
}
pre[class*='language-'] {
	text-align: left; color: black; line-height: 1.5; font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; word-spacing: normal; white-space: pre; direction: ltr; -ms-word-break: normal; -ms-word-wrap: normal; -ms-hyphens: none; hyphens: none; tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none;
}
pre[class*='language-'] {
	margin: 0.5em 0px; padding: 0px; overflow: visible; border-left-color: rgb(53, 140, 203); border-left-width: 10px; border-left-style: solid; position: relative; max-height: 30em; box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%); background-size: 3em 3em; background-origin: content-box; background-color: rgb(253, 253, 253); -webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; -moz-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
}
code[class*='language'] {
	padding: 0px 1em; height: 100%; overflow: auto; display: block; max-height: inherit;
}
:not(pre) > code[class*='language-'] {
	margin-bottom: 1em; box-sizing: border-box; background-color: rgb(253, 253, 253); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
pre[class*='language-'] {
	margin-bottom: 1em; box-sizing: border-box; background-color: rgb(253, 253, 253); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
:not(pre) > code[class*='language-'] {
	padding: 0.2em; border-radius: 0.3em; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; color: rgb(201, 44, 44); display: inline; position: relative; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em;
}
pre[class*='language-']::before {
	left: 0.18em; width: 40%; height: 20%; bottom: 0.75em; display: block; position: absolute; z-index: -2; content: ""; box-shadow: 0px 13px 8px #979797; transform: rotate(-2deg); -webkit-box-shadow: 0px 13px 8px #979797; -webkit-transform: rotate(-2deg); -o-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -moz-box-shadow: 0px 13px 8px #979797;
}
pre[class*='language-']::after {
	left: 0.18em; width: 40%; height: 20%; bottom: 0.75em; display: block; position: absolute; z-index: -2; content: ""; box-shadow: 0px 13px 8px #979797; transform: rotate(-2deg); -webkit-box-shadow: 0px 13px 8px #979797; -webkit-transform: rotate(-2deg); -o-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -moz-box-shadow: 0px 13px 8px #979797;
}
:not(pre) > code[class*='language-']::after {
	left: auto; right: 0.75em; transform: rotate(2deg); -webkit-transform: rotate(2deg); -o-transform: rotate(2deg); -moz-transform: rotate(2deg);
}
pre[class*='language-']::after {
	left: auto; right: 0.75em; transform: rotate(2deg); -webkit-transform: rotate(2deg); -o-transform: rotate(2deg); -moz-transform: rotate(2deg);
}
.comment.token {
	color: rgb(125, 139, 153);
}
.block-comment.token {
	color: rgb(125, 139, 153);
}
.prolog.token {
	color: rgb(125, 139, 153);
}
.doctype.token {
	color: rgb(125, 139, 153);
}
.cdata.token {
	color: rgb(125, 139, 153);
}
.punctuation.token {
	color: rgb(95, 99, 100);
}
.property.token {
	color: rgb(201, 44, 44);
}
.tag.token {
	color: rgb(201, 44, 44);
}
.boolean.token {
	color: rgb(201, 44, 44);
}
.number.token {
	color: rgb(201, 44, 44);
}
.function-name.token {
	color: rgb(201, 44, 44);
}
.constant.token {
	color: rgb(201, 44, 44);
}
.symbol.token {
	color: rgb(201, 44, 44);
}
.deleted.token {
	color: rgb(201, 44, 44);
}
.selector.token {
	color: rgb(47, 156, 10);
}
.attr-name.token {
	color: rgb(47, 156, 10);
}
.string.token {
	color: rgb(47, 156, 10);
}
.char.token {
	color: rgb(47, 156, 10);
}
.function.token {
	color: rgb(47, 156, 10);
}
.builtin.token {
	color: rgb(47, 156, 10);
}
.inserted.token {
	color: rgb(47, 156, 10);
}
.operator.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.entity.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.url.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.variable.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.atrule.token {
	color: rgb(25, 144, 184);
}
.attr-value.token {
	color: rgb(25, 144, 184);
}
.keyword.token {
	color: rgb(25, 144, 184);
}
.class-name.token {
	color: rgb(25, 144, 184);
}
.regex.token {
	color: rgb(238, 153, 0);
}
.important.token {
	color: rgb(238, 153, 0);
}
.language-css .string.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.style .string.token {
	background: rgba(255, 255, 255, 0.5); color: rgb(166, 127, 89);
}
.important.token {
	font-weight: normal;
}
.bold.token {
	font-weight: bold;
}
.italic.token {
	font-style: italic;
}
.entity.token {
	cursor: help;
}
.namespace {
	opacity: 0.7;
}
@media screen and (max-width:767px)
{
pre[class*='language-']::before {
	bottom: 14px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
pre[class*='language-']::after {
	bottom: 14px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
}
:not(:empty).tab.token::before {
	color: rgb(224, 215, 209);
}
.cr.token::before {
	color: rgb(224, 215, 209);
}
.lf.token::before {
	color: rgb(224, 215, 209);
}
pre[class*='language-'].line-numbers {
	padding-left: 0px;
}
pre[class*='language-'].line-numbers code {
	padding-left: 3.8em;
}
pre[class*='language-'].line-numbers .line-numbers-rows {
	left: 0px;
}
pre[class*='language-'][data-line] {
	padding-top: 0px; padding-bottom: 0px; padding-left: 0px;
}
pre[data-line] code {
	padding-left: 4em; position: relative;
}
pre .line-highlight {
	margin-top: 0px;
}
pre[data-line] {
	padding: 1em 0px 1em 3em; position: relative;
}
.line-highlight {
	background: hsla(24, 20%, 50%, 0.08); left: 0px; right: 0px; line-height: inherit; margin-top: 1em; white-space: pre; position: absolute; pointer-events: none;
}
.line-highlight::before {
	font: bold 65%/1.5 sans-serif; padding: 0px 0.5em; border-radius: 999px; left: 0.6em; top: 0.4em; text-align: center; color: hsl(24, 20%, 95%); vertical-align: 0.3em; position: absolute; min-width: 1em; content: attr(data-start); font-size-adjust: none; font-stretch: normal; box-shadow: 0px 1px white; text-shadow: none; background-color: hsla(24, 20%, 50%, 0.4);
}
[data-end].line-highlight::after {
	font: bold 65%/1.5 sans-serif; padding: 0px 0.5em; border-radius: 999px; left: 0.6em; top: 0.4em; text-align: center; color: hsl(24, 20%, 95%); vertical-align: 0.3em; position: absolute; min-width: 1em; content: attr(data-start); font-size-adjust: none; font-stretch: normal; box-shadow: 0px 1px white; text-shadow: none; background-color: hsla(24, 20%, 50%, 0.4);
}
[data-end].line-highlight::after {
	top: auto; bottom: 0.4em; content: attr(data-end);
}
pre.line-numbers {
	padding-left: 3.8em; position: relative; counter-reset: linenumber;
}
pre.line-numbers > code {
	position: relative;
}
.line-numbers .line-numbers-rows {
	left: -3.8em; top: 0px; width: 3em; letter-spacing: -1px; font-size: 100%; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; position: absolute; pointer-events: none; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.line-numbers-rows > span {
	display: block; counter-increment: linenumber; pointer-events: none;
}
.line-numbers-rows > span::before {
	text-align: right; color: rgb(153, 153, 153); padding-right: 0.8em; display: block; content: counter(linenumber);
}
