@import url( app.css );
@import url( //fonts.googleapis.com/css?family=Monda:400,700 );
@import url( //fonts.googleapis.com/css?family=Open+Sans );
.headline {
	margin: 10px 0px 25px; border-bottom-color: rgb(228, 233, 240); border-bottom-width: 1px; border-bottom-style: dotted; display: block;
}
.headline h2 {
	margin: 0px 0px -2px; color: rgb(88, 95, 105); padding-bottom: 5px; border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.headline h3 {
	margin: 0px 0px -2px; color: rgb(88, 95, 105); padding-bottom: 5px; border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.headline h4 {
	margin: 0px 0px -2px; color: rgb(88, 95, 105); padding-bottom: 5px; border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.headline h2 {
	font-size: 23px;
}
.headline-md h2 {
	font-size: 21px;
}
.headline-md {
	margin-bottom: 15px;
}
.purchase {
	background: url("../img/breadcrumbs.png"); padding: 30px 0px; margin-bottom: 30px; box-shadow: inset 0px 0px 4px #eee;
}
.purchase p {
	margin-bottom: 0px;
}
.purchase span {
	color: rgb(102, 102, 102); line-height: 35px; font-family: "Open Sans", sans-serif; font-size: 28px; font-weight: 200; margin-bottom: 12px; display: block;
}
.purchase a.btn-buy {
	background: rgb(114, 192, 44); padding: 12px 28px 9px; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 16px; font-weight: bold; text-decoration: none; margin-top: 22px; display: inline-block; cursor: pointer; text-shadow: 0px 1px 0px #51a00b;
}
.purchase a.btn-buy:hover {
	background: rgb(104, 175, 40); color: rgb(255, 255, 255); text-decoration: none; box-shadow: 0px 0px 5px #c0c2c1;
}
.service {
	padding: 15px 15px 10px; overflow: hidden; margin-bottom: 10px;
}
.service:hover {
	background: rgb(252, 252, 252); transition:box-shadow 0.2s ease-in-out; box-shadow: 0px 0px 5px #ddd; -webkit-transition: box-shadow 0.2s ease-in-out; -o-transition: box-shadow 0.2s ease-in-out; -moz-transition: box-shadow 0.2s ease-in-out;
}
.service:hover i {
	color: rgb(101, 101, 101);
}
.service .desc {
	padding: 0px 15px; overflow: hidden;
}
.service .desc h4 {
	line-height: 25px; font-size: 22px;
}
.service .service-icon {
	padding: 10px; transition:0.4s ease-in-out; text-align: center; color: rgb(114, 192, 44); font-size: 45px; float: left; -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.service .icon-cogs.service-icon {
	font-size: 37px;
}
.service .icon-plane.service-icon {
	font-size: 43px;
}
.recent-work a {
	background: rgb(252, 252, 252); text-align: center; display: inline-block;
}
.recent-work a:hover {
	text-decoration: none;
}
.recent-work a:hover strong {
	color: rgb(85, 85, 85);
}
.recent-work em.overflow-hidden {
	display: block;
}
.recent-work a span {
	padding: 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 2px; border-bottom-style: solid; display: block;
}
.recent-work a strong {
	color: rgb(85, 85, 85); display: block;
}
.recent-work a i {
	color: rgb(119, 119, 119);
}
.recent-work a img {
	transition:0.8s ease-in-out; -webkit-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out;
}
.recent-work a:hover img {
	opacity: 0.8; transform: scale(1.2) rotate(3deg); -webkit-transform: scale(1.2) rotate(3deg); -o-transform: scale(1.0) rotate(3deg); -moz-transform: scale(1.2) rotate(3deg);
}
.recent-work a:hover span {
	transition:0.3s ease-in-out; border-bottom-color: rgb(114, 192, 44); border-bottom-width: 2px; border-bottom-style: solid; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
blockquote p {
	font-weight: 200;
}
.blog blockquote p {
	font-weight: 200;
}
blockquote:hover {
	transition:0.4s ease-in-out; border-left-color: rgb(114, 192, 44); -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.hero {
	background: rgb(252, 252, 252); margin: 20px 0px; padding: 18px; color: rgb(86, 108, 138); font-family: "Open Sans", sans-serif; font-size: 16px; border-left-color: rgb(148, 197, 100); border-left-width: 4px; border-left-style: solid;
}
.hero h1 {
	text-shadow: 1px 1px 0px #fff;
}
.hero p {
	text-shadow: 1px 1px 0px #fff;
}
.hero-unify p {
	line-height: 20px; font-size: 13px;
}
.work {
	margin-top: 6px;
}
.work .details {
	padding: 10px;
}
.work .caption {
	color: rgb(88, 95, 105) !important; padding-top: 5px; font-size: 18px !important; display: block;
}
.work .caption:hover {
	color: rgb(68, 68, 68) !important; text-decoration: underline; cursor: pointer;
}
.footer {
	background: rgb(88, 95, 105); padding: 20px 0px 30px; color: rgb(218, 218, 218); margin-top: 40px;
}
.margin-top-0.footer {
	margin-top: 0px;
}
.footer h1 {
	font-weight: normal !important; text-shadow: none;
}
.footer h2 {
	font-weight: normal !important; text-shadow: none;
}
.footer h3 {
	font-weight: normal !important; text-shadow: none;
}
.footer h4 {
	font-weight: normal !important; text-shadow: none;
}
.footer h5 {
	font-weight: normal !important; text-shadow: none;
}
.footer p {
	font-size: 14px;
}
.footer a {
	font-size: 14px;
}
.footer p {
	color: rgb(218, 218, 218);
}
.footer a {
	color: rgb(114, 192, 44);
}
.footer a:hover {
	transition:0.4s ease-in-out; color: rgb(168, 248, 95); -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.footer h2 {
	background: none; color: rgb(228, 228, 228); text-shadow: none;
}
.footer h3 {
	background: none; color: rgb(228, 228, 228); text-shadow: none;
}
.footer h4 {
	background: none; color: rgb(228, 228, 228); text-shadow: none;
}
.footer .footer-subsribe {
	width: 85%;
}
.footer .blog-list {
	list-style: none; margin: 0px; padding: 0px; color: rgb(218, 218, 218);
}
.footer .blog-list li {
	padding: 0px; margin-bottom: 7px;
}
.footer .blog-list li span {
	color: rgb(129, 132, 136);
}
.footer .dl-horizontal {
	background: none !important; border: currentColor !important; border-image: none !important;
}
.footer .dl-horizontal:hover {
	background: none !important; border: currentColor !important; border-image: none !important;
}
.footer .dl-horizontal a {
	color: rgb(218, 218, 218);
}
.footer .dl-horizontal a:hover {
	color: rgb(168, 248, 95) !important;
}
.footer .dl-horizontal img {
	border-color: rgb(136, 136, 136) !important;
}
.copyright {
	background: rgb(62, 62, 62); padding: 11px 0px; font-size: 0.9em;
}
.copyright p {
	color: rgb(218, 218, 218);
}
.copyright p.copyright-space {
	margin-top: 12px;
}
.copyright a {
	margin: 0px 5px; color: rgb(114, 192, 44);
}
.copyright a:hover {
	color: rgb(168, 248, 95);
}
a.thumbnail {
	padding: 0px; border: currentColor; border-image: none; margin-bottom: 15px;
}
.thumbnail-style {
	padding: 5px; margin-bottom: 20px;
}
.thumbnail-style:hover {
	transition:box-shadow 0.2s ease-in-out; box-shadow: 0px 0px 8px #ddd; -webkit-transition: box-shadow 0.2s ease-in-out; -o-transition: box-shadow 0.2s ease-in-out; -moz-transition: box-shadow 0.2s ease-in-out;
}
.thumbnail-style h3 {
	margin: 5px 0px 0px;
}
.thumbnail-style h3 a {
	font-size: 20px;
}
.thumbnail-style h3 a:hover {
	color: rgb(114, 192, 44); text-decoration: none;
}
.thumbnail-style .thumbnail-img {
	margin-bottom: 10px; position: relative;
}
.thumbnail-style a.btn-more {
	background: rgb(114, 192, 44); padding: 1px 6px; right: -10px; bottom: 10px; color: rgb(255, 255, 255); display: inline-block; position: absolute;
}
.thumbnail-style a.btn-more:hover {
	text-decoration: none; box-shadow: 0px 0px 0px 2px #377500;
}
.thumbnail-style:hover a.btn-more {
	right: 10px;
}
.thumbnail-kenburn img {
	transition:0.8s ease-in-out; left: 10px; margin-left: -10px; position: relative; -webkit-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
	transform: scale(1.2) rotate(2deg); -webkit-transform: scale(1.2) rotate(2deg); -o-transform: scale(1.2) rotate(2deg); -moz-transform: scale(1.2) rotate(2deg);
}
.servive-block .servive-block-in {
	background: rgb(250, 250, 250); padding: 20px 30px; transition:0.3s ease-in-out; text-align: center; margin-bottom: 20px; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.servive-block .servive-block-in:hover {
	box-shadow: 0px 0px 8px #ddd;
}
.servive-block .servive-block-in h4 {
	line-height: 25px;
}
.servive-block .servive-block-in h4 a:hover {
	color: rgb(114, 192, 44); text-decoration: none;
}
.servive-block .servive-block-in:hover h4 {
	color: rgb(52, 152, 219);
}
.servive-block .servive-block-in:hover i {
	color: rgb(52, 152, 219);
}
.servive-block .servive-block-in i {
	transition:0.4s ease-in-out; color: rgb(86, 86, 86); font-size: 40px; -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.servive-block .servive-block-red {
	background: rgb(231, 76, 60);
}
.servive-block .servive-block-sea {
	background: rgb(26, 188, 156);
}
.servive-block .servive-block-blue {
	background: rgb(52, 152, 219);
}
.servive-block .servive-block-grey {
	background: rgb(149, 165, 166);
}
.servive-block .servive-block-yellow {
	background: rgb(241, 196, 15);
}
.servive-block .servive-block-orange {
	background: rgb(230, 126, 34);
}
.servive-block .servive-block-green {
	background: rgb(46, 204, 113);
}
.servive-block .servive-block-colored i {
	color: rgb(255, 255, 255);
}
.servive-block .servive-block-colored p {
	color: rgb(255, 255, 255);
}
.servive-block .servive-block-colored h4 {
	color: rgb(255, 255, 255);
}
.servive-block .servive-block-colored:hover i {
	color: rgb(255, 255, 255);
}
.servive-block .servive-block-colored:hover h4 {
	color: rgb(255, 255, 255);
}
.servive-block .servive-block-colored:hover {
	opacity: 0.8; box-shadow: none;
}
.service-alternative .service:hover {
	background: rgb(118, 202, 44); transition:0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.service-alternative .service:hover i {
	color: rgb(255, 255, 255);
}
.service-alternative .service:hover p {
	color: rgb(255, 255, 255);
}
.service-alternative .service:hover h4 {
	color: rgb(255, 255, 255);
}
.service-v1 h2 {
	margin: 15px 0px; line-height: 28px; font-size: 20px;
}
.service-v1 p {
	text-align: justify;
}
.posts .dl-horizontal {
	overflow: hidden; margin-bottom: 0px;
}
.posts .dl-horizontal dt {
	width: 60px; float: left;
}
.posts .dl-horizontal dt img {
	padding: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 60px; height: 60px; margin-top: 2px;
}
.posts .dl-horizontal dd {
	margin-left: 70px;
}
.posts .dl-horizontal dd p {
	margin: 0px;
}
.posts .dl-horizontal dd a {
	line-height: 16px !important; font-size: 14px;
}
.posts .dl-horizontal dd a:hover {
	color: rgb(114, 192, 44); text-decoration: none;
}
.posts .dl-horizontal:hover dt img {
	border-color: rgb(114, 192, 44) !important; transition:0.4s ease-in-out; color: rgb(114, 192, 44); -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.posts .dl-horizontal:hover dd a {
	border-color: rgb(114, 192, 44) !important; transition:0.4s ease-in-out; color: rgb(114, 192, 44); -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;
}
.breadcrumbs {
	background: url("../img/breadcrumbs.png"); padding: 10px 0px 6px; box-shadow: inset 0px 0px 4px #eee;
}
.breadcrumbs h1 {
	color: rgb(104, 104, 104); font-size: 26px; margin-top: 12px;
}
.breadcrumb {
	background: none; top: 9px; padding-right: 0px; position: relative;
}
.breadcrumb a {
	color: rgb(119, 119, 119);
}
.breadcrumb li.active {
	color: rgb(114, 192, 44); text-decoration: none;
}
.breadcrumb li a:hover {
	color: rgb(114, 192, 44); text-decoration: none;
}
.pagination li a {
	padding: 5px 15px; color: rgb(119, 119, 119);
}
.testimonials {
	margin-bottom: 10px;
}
.testimonials .testimonial-info {
	padding: 0px 15px; color: rgb(114, 192, 44); font-size: 16px; margin-top: 18px;
}
.testimonials .testimonial-info span {
	top: 3px; position: relative;
}
.testimonials .testimonial-info em {
	color: rgb(119, 119, 119); font-size: 13px; display: block;
}
.testimonials .testimonial-info img {
	padding: 2px; border-radius: 50% !important; border: 1px solid rgb(204, 204, 204); border-image: none; width: 60px; height: 60px; margin-right: 15px; float: left;
}
.testimonials .testimonial-author {
	overflow: hidden;
}
.testimonials .carousel-arrow {
	top: -65px; position: relative;
}
.testimonials .carousel-arrow i {
	background: rgb(250, 250, 250); padding: 2px 8px; color: rgb(119, 119, 119); font-size: 20px;
}
.testimonials .carousel-arrow i:hover {
	background: rgb(114, 192, 44); color: rgb(255, 255, 255);
}
.testimonials .carousel-control {
	width: 100%; text-align: right; position: absolute; opacity: 1; text-shadow: none;
}
.testimonials .left.carousel-control {
	left: auto; right: 27px;
}
.testimonials .right.carousel-control {
	right: 0px;
}
.testimonials-v1.testimonials .item p {
	background: rgb(250, 250, 250); padding: 15px; font-size: 14px; font-style: italic; position: relative;
}
.testimonials-v1.testimonials .item p::after {
	left: 80px; width: 0px; height: 0px; bottom: -20px; display: block; position: absolute; content: " ";
}
.testimonials-v1.testimonials .item p::before {
	left: 80px; width: 0px; height: 0px; bottom: -20px; display: block; position: absolute; content: " ";
}
.testimonials-v1.testimonials .item p::after {
	border-top-color: rgb(250, 250, 250); border-right-color: transparent; border-left-color: transparent; border-top-width: 22px; border-right-width: 22px; border-left-width: 0px; border-top-style: solid; border-right-style: inset; border-left-style: inset;
}
.testimonials-v2.testimonials .testimonial-info {
	padding: 0px 20px;
}
.testimonials-v2.testimonials p {
	background: rgb(250, 250, 250); padding: 15px; font-size: 14px; font-style: italic;
}
.testimonials-v2.testimonials .carousel-arrow {
	top: -55px;
}
.testimonials-v2.testimonials .item p::after {
	left: 8%; width: 0px; height: 0px; bottom: 45px; display: block; position: absolute; content: " ";
}
.testimonials-v2.testimonials .item p::before {
	left: 8%; width: 0px; height: 0px; bottom: 45px; display: block; position: absolute; content: " ";
}
.testimonials-v2.testimonials .item p::after {
	border-top-color: rgb(250, 250, 250); border-right-color: transparent; border-left-color: transparent; border-top-width: 20px; border-right-width: 0px; border-left-width: 25px; border-top-style: solid; border-right-style: inset; border-left-style: inset;
}
.tab-v1 .nav-tabs {
	background: none; border-width: medium medium 2px; border-style: none none solid; border-color: currentColor currentColor rgb(114, 192, 44); border-image: none;
}
.tab-v1 .nav-tabs a {
	padding: 5px 15px; font-size: 14px;
}
.tab-v1 .nav-tabs > .active > a {
	background: rgb(114, 192, 44); border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.tab-v1 .nav-tabs > .active > a:hover {
	background: rgb(114, 192, 44); border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.tab-v1 .nav-tabs > .active > a:focus {
	background: rgb(114, 192, 44); border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.tab-v1 .nav-tabs > li > a {
	border: currentColor; border-image: none;
}
.tab-v1 .nav-tabs > li > a:hover {
	background: rgb(114, 192, 44); color: rgb(255, 255, 255);
}
.tab-v1 .tab-content {
	padding: 10px 0px;
}
.tab-v1 .tab-content img {
	margin-top: 4px; margin-bottom: 15px;
}
.tab-v1 .tab-content img.img-tab-space {
	margin-top: 7px;
}
.tab-v2 .nav-tabs {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tab-v2 .nav-tabs li a {
	background: none; padding: 9px 16px; border: currentColor; border-image: none;
}
.tab-v2 .nav-tabs li.active a {
	background: rgb(255, 255, 255); padding: 7px 15px 9px; border-image: none; border-top-color: rgb(114, 192, 44); border-right-color: rgb(238, 238, 238); border-bottom-color: currentColor !important; border-left-color: rgb(238, 238, 238); border-top-width: 2px; border-right-width: 1px; border-bottom-width: medium !important; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: none !important; border-left-style: solid;
}
.tab-v2 .tab-content {
	padding: 10px 16px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.tab-v3 .nav-pills li a {
	background: rgb(250, 250, 250); padding: 4px 8px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(119, 119, 119); font-size: 17px; margin-bottom: 3px;
}
.tab-v3 .nav-pills li a:hover {
	background: rgb(114, 192, 44); border: 1px solid rgb(104, 175, 40); border-image: none; color: rgb(255, 255, 255);
}
.tab-v3 .nav-pills li.active a {
	background: rgb(114, 192, 44); border: 1px solid rgb(104, 175, 40); border-image: none; color: rgb(255, 255, 255);
}
.tab-v3 .nav-pills li i {
	width: 1.25em; text-align: center; margin-right: 5px; display: inline-block;
}
.tab-v3 .tab-content {
	background: rgb(250, 250, 250); padding: 15px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.acc-v1 .panel-heading {
	padding: 0px; box-shadow: none;
}
.acc-v1 .panel-heading a {
	background: rgb(254, 254, 254); padding: 5px 15px; font-size: 14px; display: block;
}
.acc-icon a.accordion-toggle i {
	color: rgb(88, 95, 105); margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
	color: rgb(57, 65, 76);
}
.carousel-v1 .carousel-caption {
	background: rgba(0, 0, 0, 0.7); padding: 7px 15px; left: 0px; right: 0px; bottom: 0px;
}
.carousel-v1 .carousel-caption p {
	color: rgb(255, 255, 255); margin-bottom: 0px;
}
.carousel-v1 .carousel-arrow a.carousel-control {
	background: none; width: inherit; height: inherit; font-size: 30px; position: inherit; opacity: 1; text-shadow: none;
}
.carousel-v1 .carousel-arrow a i {
	background: rgb(0, 0, 0); padding: 2px 12px; top: 50%; margin-top: -18px; position: absolute; opacity: 0.6;
}
.carousel-v1 .carousel-arrow a i:hover {
	opacity: 0.8;
}
.carousel-v1 .carousel-arrow a.left i {
	left: 0px;
}
.carousel-v1 .carousel-arrow a.right i {
	right: 0px;
}
.team ul.team-socail {
	text-align: right;
}
.team ul.team-socail li {
	margin: 0px !important; padding: 0px !important;
}
.team ul.team-socail li a {
	text-decoration: none;
}
.team ul.team-socail li a:hover {
	text-decoration: none;
}
.team ul.team-socail li i {
	background: rgb(247, 247, 247); padding: 3px; text-align: center; color: rgb(170, 170, 170); font-size: 20px; display: inline-block; min-width: 30px;
}
.team ul.team-socail li i:hover {
	background: rgb(114, 192, 44); transition:0.2s ease-in-out; color: rgb(255, 255, 255); -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
.team .thumbnail-style {
	padding: 12px;
}
.team .thumbnail-style small {
	font-size: 12px; display: block;
}
.team .thumbnail-style h3 {
	margin-bottom: 10px;
}
.team .thumbnail-style:hover h3 a {
	color: rgb(114, 192, 44) !important;
}
.gallery-page .thumbnail {
	padding: 0px; border: currentColor; border-image: none; box-shadow: none;
}
.gallery-page .thumbnail:hover {
	padding: 0px; border: currentColor; border-image: none; box-shadow: none;
}
.gallery-page .thumbnails {
	margin-bottom: 6px;
}
.privacy a {
	text-decoration: underline;
}
.privacy a:hover {
	color: rgb(114, 192, 44); text-decoration: none;
}
.portfolio-item h2 {
	margin: 0px 0px 15px; color: rgb(85, 85, 85); font-size: 24px;
}
.portfolio-item li {
	padding: 3px 0px;
}
.portfolio-item p a {
	text-decoration: underline;
}
.portfolio-item p a:hover {
	text-decoration: none;
}
.portfolio-item1 ul {
	margin: 10px 0px 20px;
}
.portfolio-item1 li {
	font-size: 16px; margin-bottom: 3px;
}
.portfolio-item1 li i {
	font-size: 18px; margin-right: 4px;
}
ul.blog-tags li {
	display: inline-block;
}
ul.blog-tags a {
	background: rgb(247, 247, 247); margin: 0px 3px 6px 0px; padding: 2px 7px; font-size: 13px; display: inline-block;
}
ul.blog-tags a i {
	color: rgb(102, 102, 102);
}
ul.blog-tags a:hover {
	background: rgb(114, 192, 44);
}
ul.blog-tags a:hover {
	transition:0.2s ease-in-out; color: rgb(255, 255, 255) !important; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
ul.blog-tags a:hover i {
	transition:0.2s ease-in-out; color: rgb(255, 255, 255) !important; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
ul.blog-tags a.active {
	background: rgb(52, 152, 219); color: rgb(255, 255, 255) !important;
}
.blog ul li a {
	color: rgb(66, 139, 202);
}
ol li a {
	color: rgb(66, 139, 202);
}
.blog-photos li {
	display: inline;
}
.blog-photos li img {
	margin: 0px 2px 8px; width: 58px; height: 58px; opacity: 0.6;
}
.blog-photos li img:hover {
	opacity: 1; box-shadow: 0px 0px 0px 2px #72c02c;
}
.blog-twitter .blog-twitter-inner {
	background: rgb(250, 250, 250); padding: 10px; margin-bottom: 15px; border-top-color: rgb(238, 238, 238); border-top-width: 2px; border-top-style: solid; position: relative;
}
.blog-twitter .blog-twitter-inner {
	transition:0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.blog-twitter .blog-twitter-inner::after {
	transition:0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.blog-twitter .blog-twitter-inner::before {
	transition:0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.blog-twitter .blog-twitter-inner::after {
	width: 0px; height: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: " ";
}
.blog-twitter .blog-twitter-inner::before {
	width: 0px; height: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: " ";
}
.blog-twitter .blog-twitter-inner::after {
	border-top-color: rgb(240, 240, 240); border-right-color: transparent; border-left-color: transparent; border-top-width: 15px; border-right-width: 15px; border-left-width: 0px; border-top-style: solid; border-right-style: inset; border-left-style: inset;
}
.blog-twitter .blog-twitter-inner::before {
	border-right-color: transparent; border-bottom-color: rgb(255, 255, 255); border-left-color: transparent; border-right-width: 0px; border-bottom-width: 15px; border-left-width: 15px; border-right-style: solid; border-bottom-style: inset; border-left-style: inset;
}
.blog-twitter .blog-twitter-inner:hover {
	border-color: rgb(114, 192, 44);
}
.blog-twitter .blog-twitter-inner:hover::after {
	border-top-color: rgb(114, 192, 44);
}
.blog-twitter .blog-twitter-inner span {
	color: rgb(119, 119, 119); font-size: 11px; display: block;
}
.blog-twitter .blog-twitter-inner a {
	color: rgb(114, 192, 44); text-decoration: none;
}
.blog-twitter .blog-twitter-inner a:hover {
	text-decoration: underline;
}
.blog-twitter .blog-twitter-inner i.icon-twitter {
	top: 2px; color: rgb(187, 187, 187); font-size: 18px; position: relative;
}
.who li {
	margin-bottom: 6px;
}
.who li i {
	top: 2px; color: rgb(114, 192, 44); font-size: 18px; margin-right: 8px; position: relative;
}
.who li:hover i {
	color: rgb(119, 119, 119);
}
.who li:hover a {
	color: rgb(119, 119, 119);
}
.who li:hover a:hover {
	text-decoration: none;
}
.sidebar-nav-v1 li {
	padding: 0px;
}
.sidebar-nav-v1 li a {
	padding: 8px 30px 8px 10px; display: block;
}
.sidebar-nav-v1 li a:hover {
	text-decoration: none;
}
.sidebar-nav-v1 li.active {
	background: rgb(245, 245, 245); border-color: rgb(221, 221, 221);
}
.sidebar-nav-v1 li.active:hover {
	background: rgb(245, 245, 245); border-color: rgb(221, 221, 221);
}
.sidebar-nav-v1 li.active a {
	color: rgb(85, 85, 85);
}
.sidebar-nav-v1 span.badge {
	margin-top: 10px; margin-right: 10px;
}
.sidebar-nav-v1 span.badge-green {
	background: rgb(46, 204, 113);
}
.sidebar-nav-v1 span.badge-red {
	background: rgb(231, 76, 60);
}
.sidebar-nav-v1 span.badge-blue {
	background: rgb(52, 152, 219);
}
.sidebar-nav-v1 span.badge-sea {
	background: rgb(26, 188, 156);
}
.tag-box {
	padding: 20px; margin-bottom: 30px;
}
.tag-box h2 {
	line-height: 25px; font-size: 20px;
}
.tag-box p {
	margin-bottom: 0px;
}
.tag-box-v1 {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(114, 192, 44) rgb(238, 238, 238) rgb(238, 238, 238); border-image: none;
}
.tag-box-v2 {
	background: rgb(250, 250, 250); border-width: 1px 1px 1px 2px; border-style: solid; border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) rgb(114, 192, 44); border-image: none;
}
.tag-box-v3 {
	border: 2px solid rgb(238, 238, 238); border-image: none;
}
.tag-box-v4 {
	border: 1px dashed rgb(187, 187, 187); border-image: none;
}
.tag-box-v5 {
	margin: 20px 0px; border: 1px dashed rgb(204, 204, 204); border-image: none; text-align: center;
}
.tag-box-v5 span {
	color: rgb(85, 85, 85); font-size: 28px; margin-bottom: 0px;
}
.tag-box-v6 {
	background: rgb(250, 250, 250); border: 1px solid rgb(238, 238, 238); border-image: none;
}
.tag-box-v7 {
	border-width: 1px 1px 2px; border-style: solid; border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(114, 192, 44); border-image: none;
}
.panel .table {
	margin-bottom: 0px;
}
.panel-blue {
	border-color: rgb(52, 152, 219);
}
.panel-blue > .panel-heading {
	background: rgb(52, 152, 219); color: rgb(255, 255, 255);
}
.panel-red {
	border-color: rgb(231, 76, 60);
}
.panel-red > .panel-heading {
	background: rgb(231, 76, 60); color: rgb(255, 255, 255);
}
.panel-green {
	border-color: rgb(46, 204, 113);
}
.panel-green > .panel-heading {
	background: rgb(46, 204, 113); color: rgb(255, 255, 255);
}
.panel-sea {
	border-color: rgb(26, 188, 156);
}
.panel-sea > .panel-heading {
	background: rgb(26, 188, 156); color: rgb(255, 255, 255);
}
.panel-orange {
	border-color: rgb(230, 126, 34);
}
.panel-orange > .panel-heading {
	background: rgb(230, 126, 34); color: rgb(255, 255, 255);
}
.panel-yellow {
	border-color: rgb(241, 196, 15);
}
.panel-yellow > .panel-heading {
	background: rgb(241, 196, 15); color: rgb(255, 255, 255);
}
.panel-grey {
	border-color: rgb(149, 165, 166);
}
.panel-grey > .panel-heading {
	background: rgb(149, 165, 166); color: rgb(255, 255, 255);
}
.slider-promo.fullwidthbanner-container {
	max-height: 460px !important;
}
.slider-promo-info-bg {
	background: url("../img/bg-black.png"); padding: 25px 20px 20px;
}
.slider-promo-info span.big-size {
	color: rgb(255, 255, 255); font-size: 30px; margin-bottom: 25px; display: block;
}
.slider-promo-info p {
	color: rgb(255, 255, 255); font-size: 16px; margin-bottom: 0px;
}
.promo-box {
	margin: 25px 0px 20px; padding: 20px; text-align: center;
}
.promo-box i {
	font-size: 50px; display: block;
}
.promo-box p {
	font-size: 14px; margin-bottom: 0px;
}
.promo-box strong {
	margin: 20px 0px 15px; color: rgb(85, 85, 85); font-size: 20px; font-weight: 200; display: block;
}
.promo-box strong a {
	margin: 20px 0px 15px; color: rgb(85, 85, 85); font-size: 20px; font-weight: 200; display: block;
}
.promo-box:hover strong {
	color: rgb(231, 76, 60);
}
.promo-box:hover strong a {
	color: rgb(231, 76, 60);
}
.promo-service {
	margin-bottom: 20px;
}
.promo-service a.btn-u {
	margin: 0px 20px 10px 0px;
}
.title-box {
	margin: 20px 0px; padding: 40px 0px; text-align: center; font-size: 16px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.title-box .title-box-text {
	color: rgb(85, 85, 85); font-size: 35px; font-weight: 200; display: block;
}
.block-blockquote {
	margin: 20px 0px; border: 1px dashed rgb(204, 204, 204); border-image: none; text-align: center;
}
.block-blockquote-inner {
	padding: 15px;
}
.block-blockquote p {
	font-size: 26px; margin-bottom: 0px;
}
.info-blocks {
	margin-bottom: 15px;
}
.info-blocks:hover i.icon-info-blocks {
	transition:0.2s ease-in-out; color: rgb(114, 192, 44); -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
.info-blocks i.icon-info-blocks {
	text-align: center; color: rgb(119, 119, 119); font-size: 40px; margin-top: 5px; float: left; min-width: 50px;
}
.info-blocks .info-blocks-in {
	padding: 0px 10px; overflow: hidden;
}
.info-blocks .info-blocks-in h3 {
	color: rgb(85, 85, 85); line-height: 28px; font-size: 20px;
}
.info-blocks .info-blocks-in p {
	font-size: 0.9em;
}
.caption-over {
	background: black; padding: 8px; color: white; font-size: 0.9em; opacity: 0.6;
}
.caption-under {
	background: black; padding: 8px; color: white; font-size: 0.9em; opacity: 0.6;
}
.vertical-align {
	display: flex; align-items: center;
}
.reset-this {
	background: 0px 0px / auto auto; border-color: inherit; margin: 0px; padding: 0px; perspective-origin: 50% 50%; columns: auto auto; column-rule: currentColor; border-radius: 0px; transition:none; animation:none; border-image: none; left: auto; top: auto; width: auto; height: auto; text-align: inherit; right: auto; bottom: auto; color: inherit; text-transform: none; line-height: normal; text-indent: 0px; letter-spacing: normal; overflow: visible; clear: none; font-family: inherit; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; word-spacing: normal; vertical-align: baseline; float: none; display: inline; white-space: normal; page-break-before: auto; page-break-after: auto; visibility: visible; border-collapse: separate; position: static; z-index: auto; clip: auto; table-layout: auto; cursor: auto; unicode-bidi: normal; direction: ltr; -ms-overflow-x: visible; -ms-overflow-y: visible; -ms-text-align-last: auto; min-height: 0px; max-height: none; min-width: 0px; max-width: none; content: normal; caption-side: top; counter-increment: none; counter-reset: none; box-sizing: content-box; border-spacing: 0; orphans: 0; widows: 0; page-break-inside: auto; empty-cells: show; quotes: "¡°" "¡±" "¡®" "¡¯"; opacity: 1; box-shadow: none; column-gap: normal; column-fill: balance; column-span: 1; text-shadow: none; transform: none; perspective: none; transform-style: flat; backface-visibility: visible; animation-play-state: running; hyphens: none; tab-size: 8; text-decoration-color: inherit; text-decoration-line: none; text-decoration-style: solid;
}
#new_form {
	color: rgb(92, 184, 92); font-size: 26px; vertical-align: middle;
}
#new_form:hover {
	color: rgb(76, 174, 76); text-decoration: none;
}
.vcenter {
	vertical-align: middle; float: none; display: inline-block;
}
