<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
	<Properties>
		<Property name="filename">/logs/enroll.log</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="${filename}" filePattern="/logs/enroll-%d{MM-dd-yy-HH-mm-ss}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
			<SizeBasedTriggeringPolicy size="20 MB"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>