<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
      <div class="content" th:fragment="content">
          <div class="container-fluid">
              <div class="row">
                     <div class="col-md-12">
                      <div class="card">
                          <div class="card-header" data-background-color="green">
                              <h4 class="title">咨询面试预约</h4>
						<p class="category">面试时间：上午9:00～11:30/下午12:30～16:00</p>
                          </div>
                          <div class="card-content">
                            <input type="hidden" name="checkUniqueKey" th:value="@{/public/checkUniqueKey}">
                            <input type="hidden" name="existingEnroll" th:value="@{/public/enroll.html}">
                            <form id="enrollForm" th:action="@{/public/enroll.html}" method="POST">
								<input type="hidden" name="formId"         th:value="${formMeta.formId}">
								<input type="hidden" name="registerId"           th:value="${enroll.registerId}"      th:if="${enroll != null}">
								<input type="hidden" name="registerDateStr"      th:value="${enroll.registerDateStr}" th:if="${enroll != null}">
								<input type="hidden" name="modifiedDateStr"      th:value="${enroll.modifiedDateStr}" th:if="${enroll != null}">
								<input type="hidden" name="status"               value="draft">
                                  <div class="row">
                                      <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">姓名<span class="required-asterisk" style="display: inline;">*</span></label>
										<input required="required" name="applicantName" th:value="${enroll != null} ? ${enroll.applicantName} : ''" class="form-control" autocomplete="off">
									</div>
                                      </div>	                                        
                                      <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">电话</label>
										<input type="phone" name="phoneNumber" th:value="${enroll != null} ? ${enroll.phoneNumber} : ''"  class="form-control" autocomplete="off">
									</div>
                                      </div>
                                  </div>
                                 <!--  <div class="row">
                                      <div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">身份证号</label>
										<input name="id" th:value="${enroll != null} ? ${enroll.id} : ''" class="form-control" autocomplete="off">
									</div>
                                      </div>
                                  </div> -->
                 				 <div class="row" th:each="fieldArray, row: ${formMeta.pageFields}">
                                      <div class="col-md-6" th:each="fieldMeta, stat : ${fieldArray}" th:with="fieldIndex=${formMeta.fieldIndex}">
                                         <input type="hidden" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldId'" th:value="${fieldMeta.fieldId}">
			                       <input type="hidden" th:name="'fieldValueList[' + ${fieldIndex} + '].formId'"        th:value="${formMeta.formId}">
			                       <input type="hidden" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldName'"     th:value="${fieldMeta.name}">
					  			   <div th:if="${fieldMeta.isText()}" class="form-group label-floating">
								   		<label class="control-label" th:text="${fieldMeta.label}"></label>
								   		<input type="hidden" class = "uniqueKey" th:value="${fieldMeta.fieldId}" th:if="${fieldMeta.isUniqueKey()}">
								        <input th:required="${fieldMeta.isRequired()}" th:class="${fieldMeta.CssClass} + 'form-control'" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldValue'" th:value="${fieldMeta.inputFieldValue}" autocomplete="off">
								   </div>
								   <div th:if="${fieldMeta.isSelect()}" class="form-group label-floating">
								   		<label class="control-label" th:text="${fieldMeta.label}"></label>
								   		<input type="hidden" class = "uniqueKey" th:value="${fieldMeta.fieldId}" th:if="${fieldMeta.isUniqueKey()}">
				                        <select th:required="${fieldMeta.isRequired()}" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldValue'" class="form-control">
					                        <option th:each="option, s : ${fieldMeta.options}" th:value="${option.value}" th:text="${option.label}" th:selected="${option.isChecked()}"/>
				                        </select>
				                   </div>
				                   <div th:if="${fieldMeta.isCheckboxGroup()}" class="form-group label-floating">
				                  		<label class="control-label" th:text="${fieldMeta.label}"></label>
				                  		<input type="hidden" class = "uniqueKey" th:value="${fieldMeta.fieldId}" th:if="${fieldMeta.isUniqueKey()}">
				                        <label th:each="option, s : ${fieldMeta.options}">
											<input th:value="${option.value}" class="form-control" type="checkbox" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldValue'" th:checked="${option.isChecked()}">
											<span th:text="${option.label}"></span>
										</label>
				                   </div>
				                   <div th:if="${fieldMeta.isRadioGroup()}" class="form-group label-floating">
				                   		<label class="control-label" th:text="${fieldMeta.label}"></label>
				                   		<input type="hidden" class = "uniqueKey" th:value="${fieldMeta.fieldId}" th:if="${fieldMeta.isUniqueKey()}">
				                        <label th:each="option, s : ${fieldMeta.options}">
				                            <input th:value="${option.value}" class="form-control" type="radio" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldValue'" th:checked="${option.isChecked()}">
				                            <span th:text="${option.label}"></span>
				                        </label>
				                   </div>
				                   <div th:if="${fieldMeta.isTextarea()}" class="form-group label-floating">
				                 		<label class="control-label" th:text="${fieldMeta.label}"></label>
				                 		<input type="hidden" class = "uniqueKey" th:value="${fieldMeta.fieldId}" th:if="${fieldMeta.isUniqueKey()}">
				                        <input class="xlarge form-control" th:name="'fieldValueList[' + ${fieldIndex} + '].fieldValue'">
						           </div>
                                 </div>
                             </div>
                               <span style="color:red" id="message"></span>
                               <button type="button" class="btn btn-success pull-right backToList"  th:if="${viewType == 'manage'}" th:data-href="@{/forms.html}">返回列表</button>
                               <button type="button" class="btn btn-success pull-right register"    th:if="${viewType != 'manage'}">提交信息</button>
                            	<button type="button" class="btn btn-info pull-right save"           th:if="${viewType != 'manage'}">暂存信息</button>
                            	<button type="button" class="btn btn-info pull-right gotoanother" style="display:none;" data-id="" th:if="${viewType != 'manage'}">去那个报名信息</button>
                                  <div class="clearfix"></div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>